.bottom_block > .fw-container-fluid >.fw-row
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.page1_block > .fw-container >.fw-row
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}